body {
  background-color: black;
  color: #fff;
  font-family: cursive;
  text-align: center;
}

#content {
    
  display: grid;
  grid-template-columns: 33.3%33.3%33.3%;
  /* grid-template-columns: 1fr 2fr 3fr; */
  /* grid-template-columns: repeat( 9, 1fr); */
  /* grid-template-rows:100px 200px 100px; */
  grid-template-rows: repeat(3 , minmax(200px , auto));
  /* grid-gap: 20px; */
  grid-column-gap:20px ;
  grid-row-gap:30px ;
  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #fffef8;
  padding: 20px;
  /* margin: 10px; */
}

#content div:nth-child(even) {
  background: rgb(136, 47, 130);
}
#content div:nth-child(odd) {
  color: black;
}
